.userContainer {
  margin-bottom: 10px;
  padding: 10px;
  cursor: pointer;
}
.userInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.userDetail {
  display: flex;
  align-items: center;
}
.userDetail h4 {
  margin-left: 10px;
}
.userDetail img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid var(--color-4);
}
.userStatus {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.online {
  background: #34eb52;
}
.offline {
  background: var(--color-5);
}
