.userContainer {
  margin-bottom: 10px;
  padding: 10px;
  cursor: pointer;
}
.userInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.userDetail {
  display: flex;
  align-items: center;
}
.userDetail h4 {
  margin: 10px;
  color: white;
}
.userDetail p {
  color: white;
}
.userDetail img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid var(--color-4);
}
.userStatus {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.online {
  background: #34eb52;
}
.offline {
  background: var(--color-5);
}
.selectedUser {
  background: var(--color-7);
}
.selectedUser h4 {
  color: var(--color-1);
}
.selectedUser p {
  color: var(--color-1);
}
.truncate {
  font-size: 14px;
  white-space: nowrap;
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--color-1);
  margin-left: 10px;
}
.unread {
  margin-left: 10px;
  background: var(--color-3);
  color: var(--color-1);
  padding: 2px 4px;
  border-radius: 10px;
}
